<!--
//
// Copyright 2024 Gurpreet Raju
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
-->

@using ShineGuacamole.Components.Pages
@using ShineGuacamole.Components
@using ShineGuacamole.Shared

@attribute [Route(AppRoutes.Connections)]

@inherits ShineComponentBase<Connections>

<PageView PageTitle="Connections" PageActions="PageActions">
    @if (_isLoading)
    {
        <LoadingComponent />
    }
    else if (_connections == null || !_connections.Any())
    {
        <MudStack Class="align-content-center">
            <MudIcon Icon="@Icon.Empty"></MudIcon>
            <MudText Class="">There is nothing show.</MudText>
        </MudStack>
    }
    else
    {
        <div class="connections">
            <MudGrid>
                @foreach (var connection in _connections)
                {
                    <MudItem xs="3">
                        <MudPaper Class="connection-tile">
                            <MudIconButton Variant="Variant.Text" Class="conn-options-button"
                                           Icon="@Icons.Material.Filled.Edit"
                                           OnClick="@(() => EditConnection(connection, Shared.Enums.ViewMode.Edit))"
                                           Size="Size.Small">
                            </MudIconButton>
                            <MudStack Class="py-3" AlignItems="AlignItems.Center">
                                <MudAvatar Variant="Variant.Filled" Size="Size.Large">
                                    @if (connection.Image == null)
                                    {
                                        <MudIcon Icon="@Icons.Material.Filled.Computer"></MudIcon>
                                    }
                                    else
                                    {
                                        <MudImage Src="@GetImageSrc(connection.Image)" Alt="@connection.Type.ToString()" />
                                    }
                                </MudAvatar>
                                <MudText Align="Align.Center">@connection.Name</MudText>
                            </MudStack>
                            <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" DropShadow="false" OverrideStyles="false">
                                <MudButton OnClick="@(() => Details(connection))"
                                           Variant="Variant.Filled" Size="Size.Small"
                                           Color="Color.Secondary">
                                    Details
                                </MudButton>
                                <MudButton OnClick="@(() => Connect(connection))"
                                           Variant="Variant.Filled" Size="Size.Small"
                                           Color="Color.Primary">
                                    Connect
                                </MudButton>
                            </MudButtonGroup>
                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>
        </div>
    }
</PageView>
